
 <!-- Footer Start -->
 <footer class="footer">
    <div class="container">
       <div class="row" style="text-align: left;">
          <div class="col-md-3 col-6">
             <div class="footer-items">
                <ul class="footer-links">
                   <li><a routerLink="/">{{translations['footer1']}}</a></li>
                </ul>
             </div>
          </div>
          <div class="col-md-3 col-6">
             <div class="footer-items">
                <ul class="footer-links">
                  <li><a routerLink="/contact">{{translations['footer2']}}</a></li>
                </ul>
             </div>
          </div>
          <div class="col-md-3 col-6">
             <div class="footer-items">
                <ul class="footer-links">
                  <li><a routerLink="/terms">{{translations['footer3']}}</a></li>
                </ul>
             </div>
          </div>
          <div class="col-md-3 col-6" style="text-align: right;">
             <div class="footer-items" >
                <ul class="social-ft-links">
                   <li><a target="_blank" href="https://www.youtube.com/@SpiritualCenterBelgium"><i class="fab fa-youtube"></i></a></li>
                </ul>
             </div>
          </div>				
       </div>
    </div>
    <div class="footer-bottom-items">	
       <div class="container">
          <div class="col-md-12">				
             <div class="footer-bottom-links">
                <div class="footer-logo">
                   <a routerLink="/"><img src="assets/images/dark-logo.png" alt=""></a>
                </div>
                <div class="micko-copyright">
                   <p>Copyright <i class="fas fa-copyright"></i>{{ currentYear }} | Made by <a target="_blank" href="https://zolotarev.eu/">R.Z</a> | {{translations['footer4']}}</p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>
 <!-- Footer End -->