<!-- Body Start -->
<div class="form-wrapper">
    <div class="app-form">
        <div class="app-form-sidebar">
            <div class="sign_sidebar_text">
                <h1>{{translations['signin1']}}</h1> 
                <h2>{{translations['signin2']}}</h2>
            </div>
        </div>
        <div class="app-form-content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-10">
                        <div class="app-top-items">
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-7">
                        <div class="registration">                            
                            <div id="alert" class="alert alert-danger" role="alert" style="display: none; margin-top: 50px; ">
                                {{translations['signin10']}}
                            </div>
                            <form (ngSubmit)="onSubmit()" #loginForm="ngForm" action="POST">
                                <h2 class="registration_title">{{translations['signin3']}}</h2> 
                                <div class="form_group mt-30">
                                    <label class="label25">{{translations['signin4']}}*</label>
                                    <input class="reg_form_input_1" [(ngModel)]="username"  name="username" type="text" placeholder="" value="" required>																								
                                </div>
                                <div class="form_group mt-25">
                                    <div class="loc_group">
                                        <input class="reg_form_input_1" [(ngModel)]="password" id="password" name="password" type="password" placeholder="" required>
                                        <span id="showpass" class="pass_show_dt cursor" (click)="togglePasswordVisibility()">
                                            <i id="eyeIcon" class="feather-eye-off"></i>
                                        </span>
                                    </div>
                                </div>
                                <button class="btn-register btn-hover" type="submit" [disabled]="loginForm.invalid">{{translations['signin7']}} <i class="feather-log-in ms-2"></i></button>
                            </form>
                        </div>							
                    </div>
                </div>
            </div>
        </div>			
    </div>
</div>
<!-- Body End -->