<!-- Body Start -->
<div class="wrapper pt-0">
    <div class="breadcrumb-pt breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-title">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="/">{{translations['contact1']}}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{translations['contact2']}}</li>
                            </ol>
                        </nav>
                        <h1 class="title_text">{{translations['contact2']}}</h1>							
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="refund-main-wrapper mt-5">
        <div class="container">
            <div class="row justify-content-md-center">					
                <div class="col-lg-6 col-md-8">
                    <div class="new-refund-request-card main-form">
                        <form>
                            <div class="form_group mt-30">
                                <label class="label25">{{translations['contact3']}}*</label>
                                <input class="form_input_1" type="text" placeholder="" value="{{ userInfo?.username ?? '' }}">
                            </div>
                            <div class="form_group mt-30">
                                <label class="label25">{{translations['contact4']}}*</label>
                                <input class="form_input_1" type="email" placeholder="" value="{{ userInfo?.email ?? '' }}">
                            </div>
                            <div class="form_group mt-30">
                                <label class="label25">{{translations['contact5']}}*</label>
                                <textarea class="form_textarea_1" placeholder=""></textarea>									
                            </div>
                            <div class="submit_btn">
                                <button class="main-btn color btn-hover" data-ripple="">{{translations['contact6']}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Body End -->