<!-- Body Start -->
<div class="wrapper pt-0">
    <div class="help-hero-search">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    <div class="hero-banner">
                        <div class="hero-greeting-banner text-center">
                            <h3 class="hero-greeting">{{translations['terms1']}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="refund-main-wrapper mt-5">
        <div class="container">
            <div class="row">					
                <div class="col-md-12">
                    <div class="item-setting-tabs p-0 mb-0">
                        <div class="policy-articles">
                            <div class="policy-article">
                                <h4 class="policy-title">{{translations['terms2']}}</h4>
                                <p class="policy-description">
                                    {{translations['terms3']}}
                                </p>
                            </div>
                            <div class="policy-article">
                                <h4 class="policy-title">{{translations['terms4']}}</h4>
                                <p class="policy-description">
                                    {{translations['terms5']}}                                
                                </p>
                            </div>
                            <div class="policy-article">
                                <h4 class="policy-title">{{translations['terms6']}}</h4>
                                <p class="policy-description">
                                    {{translations['terms7']}}                                
                                </p>
                            </div>		
                            <div class="policy-article">
                                <h4 class="policy-title">{{translations['terms8']}}</h4>
                                <p class="policy-description">
                                    {{translations['terms9']}}                                
                                </p>
                            </div>		
                            <div class="policy-article">
                                <h4 class="policy-title">{{translations['terms10']}}</h4>
                                <p class="policy-description">
                                    {{translations['terms11']}}                                
                                </p>
                            </div>		
                            <div class="policy-article">
                                <h4 class="policy-title">{{translations['terms12']}}</h4>
                                <p class="policy-description">
                                    {{translations['terms13']}}                                
                                </p>
                            </div>		
                            <div class="policy-article">
                                <h4 class="policy-title">{{translations['terms14']}}</h4>
                                <p class="policy-description">
                                    {{translations['terms15']}}                                
                                </p>
                            </div>		
                            <div class="policy-article">
                                <h4 class="policy-title">{{translations['terms16']}}</h4>
                                <p class="policy-description">
                                    {{translations['terms17']}}                                
                                </p>
                            </div>							
                            <div class="last-change-policy">{{translations['terms18']}} : 26/08/2024</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Body End -->