<!-- Body Start -->
<div class="form-wrapper">
    <div class="app-form">
        <div class="app-form-sidebar">
            <div class="sign_sidebar_text">
                <h1>{{translations['signup1']}}</h1> 
                <h2>{{translations['signup2']}}</h2>            
            </div>
        </div>
        <div class="app-form-content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-10">
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-7">
                        <div class="registration">
                            
                            <div id="alert" class="alert alert-danger" role="alert" style="display: none; margin-top: 50px;">
                                {{translations['signup16']}}
                            </div>
                            <form #addForm="ngForm" #signupForm="ngForm" (ngSubmit)="onAddUser(addForm)">
                                <h2 class="registration_title">{{translations['signup3']}}</h2>
                                <div class="form_group mt-30">
                                    <label class="label25">{{translations['signup4']}}*</label>
                                    <input class="reg_form_input_1" [(ngModel)]="username" name="username" type="text" placeholder="" value="" required>																								
                                </div>
                                <div class="form_group mt-30">
                                    <label class="label25">{{translations['signup5']}}*</label>
                                    <input class="reg_form_input_1" [(ngModel)]="email" name="email" type="text" placeholder="" value="" required>																								
                                </div>
                                <div class="form_group mt-25">
                                    <label class="label25">{{translations['signup6']}}*</label>
                                    
                                    <div class="loc_group">
                                        <input class="reg_form_input_1" [(ngModel)]="password" id="password" name="password" type="password" placeholder="" autocomplete="new-password" required>
                                        <span id="showpass" class="pass_show_dt cursor" (click)="togglePasswordVisibility()">
                                            <i id="eyeIcon" class="feather-eye-off"></i>
                                        </span>
                                    </div>
                                </div>
                                
                                <!--hidden lang-->
                                <input class="reg_form_input_1" [(ngModel)]="preferredLanguage" id="preferredLanguage" name="preferredLanguage" type="hidden" placeholder="" required>

                                <div class="form_group mt-25">
                                    <label class="label25">{{translations['signup12']}}*</label>
                                    <div class="loc_group">                                        
                                        <div class="">
                                            <select [(ngModel)]="gender" id="gender" class="reg_form_input_1" style="color:#a0a0a0" name="gender" required>
                                                <option value="">{{translations['signup13']}}</option> 
                                                <option value="M">{{translations['signup14']}}</option>
                                                <option value="W">{{translations['signup15']}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="signup_check_checkbox mt-30">
                                    <input [(ngModel)]="termsAccepted" type="checkbox" id="google_analytics_check" name="termsAccepted" required>
                                    <label for="google_analytics_check">{{translations['signup7']}} <a target="_blank" href="/terms">{{translations['signup8']}}</a></label>
                                </div>
                                <button class="btn-register btn-hover" type="submit" [disabled]="signupForm.invalid">{{translations['signup9']}}</button>
                            </form>
                        </div>							
                    </div>
                </div>
            </div>
        </div>			
    </div>
</div>
<!-- Body End -->