<!-- Body Start -->
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-12">
                <div class="full-width">
                    <div class="connt-bg dpbg-1">
                        <ul class="friends-harmonic">
                            <li>
                                <a href="#">
                                    <img class="harmonic-img" src="assets/images/left-imgs/img-2.jpg" loading="lazy" alt="friend">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="harmonic-img" src="assets/images/left-imgs/img-3.jpg" loading="lazy" alt="friend">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="harmonic-img" src="assets/images/left-imgs/img-4.jpg" loading="lazy" alt="friend">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="harmonic-img" src="assets/images/left-imgs/img-5.jpg" loading="lazy" alt="friend">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="harmonic-img" src="assets/images/left-imgs/img-6.jpg" loading="lazy" alt="friend">
                                </a>
                            </li>
                        </ul>							
                    </div>
                    <div class="posted_1590">
                        <div class="count-ttl">{{ allUsers.length }}</div>
                        <div class="cate-post">{{translations['community1']}}</div>
                    </div>
                    
                </div>
                <div class="full-width mt-30 dstp-bnr-dt">
                    <div class="banner-item">
                        <div class="banner-img ">
                            <img src="assets/images/sirabdul.jpg" alt="">
                            <div class="banner-overlay" style="position: relative;">
                                <i><span>Leven is mooi</span></i>
                                <h4>{{translations['community7']}}</h4>
                                <button class="main-btn color btn-hover" routerLink="/postdetails/6">{{translations['community8']}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-12">					
                <div class="all-items rrmt-30">
                    <div class="product-items-list pl_item_search">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="full-width mb-4">										
                                    <div class="my_connections_list">
                                        <div class="cntn_top_filter">
                                            <h4>{{translations['community2']}}</h4>
                                        </div>
                                        <div class="cntn_bottom_search">
                                            <div class="row">
                                                <div class="col-lg-10 col-md-8">
                                                    <div class="form_group">
                                                        <input ngModel #keyword="ngModel" class="form_input_1" (ngModelChange)="searchUsers(keyword.value)" name="keyword" type="search" placeholder="{{translations['community3']}}" aria-label="Search">

                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-md-4">
                                                    <button class="post-link-btn color btn-hover w-100 rmt-10">{{translations['community4']}}</button>					
                                                </div>
                                            </div>												
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--FOORLOOP WITH ALL USERS-->
                            <ng-container *ngFor="let user of allUsers" >
                                <div class="col-xl-4 col-lg-6 col-md-6" *ngIf="canDo || (userInfo && user.id !== userInfo.id)"                                >
                                    <div class="ppuser-card mb-4">
                                        <div class="ppuser-img">															
                                            <img class="ft-plus-square job-bg-circle bg-cyan me-0" src="{{ user.profilePhoto }}" alt="">
                                        </div>
                                        <a routerLink="/userprofile/{{user.id}}" class="job-heading text-center mb-0">{{ user.username }}</a>
                                        <p class="notification-text font-small-4 text-center">
                                            <span class="">
                                                <i class="fa-regular fa-user"></i>
                                                <span *ngIf="user.role === 'USER'" > {{translations['myprofile18']}}</span>
                                                <span *ngIf="user.role === 'ADMIN'" > {{translations['myprofile19']}}</span>
                                            </span><br>
                                            <span class="">
                                                <i class="fa-solid fa-venus-mars"></i>
                                                <span *ngIf="user.gender === 'M'" > {{translations['myprofile16']}}</span>
                                                <span *ngIf="user.gender === 'W'" > {{translations['myprofile17']}}</span>
                                            </span><br>
                                            <span class="">
                                                <i class="fa-regular fa-flag"></i>
                                                <span *ngIf="user.preferredLanguage === 'EN'" > {{translations['myprofile13']}}</span>
                                                <span *ngIf="user.preferredLanguage === 'FR'" > {{translations['myprofile14']}}</span>
                                                <span *ngIf="user.preferredLanguage === 'NL'" > {{translations['myprofile15']}}</span>
                                            </span><br>
                                        </p>
                                        <button *ngIf="!isUserFollowed(user.id) && userInfo" class="act-btn btn-hover" type="button" (click)="followUser(user.id)"><i class="feather-user-plus me-2" ></i>{{translations['community5']}} </button>
                                        <button *ngIf="isUserFollowed(user.id)" class="act-btn btn-hover" type="button" (click)="unFollowUser(user.id)"><i class="feather-user-minus me-2" ></i>{{translations['community6']}} </button>
                                    </div>   
                                </div>  
                            </ng-container>                   
                            							
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Body End -->