<!-- Body Start -->
<div class="wrapper pt-0">
    <div class="breadcrumb-pt breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-title">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a routerLink="/">{{translations['blog1']}}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{translations['blog2']}}</li>
                            </ol>
                        </nav>
                        <h1 class="title_text">{{translations['blog2']}}</h1>							
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-wrapper mt-5">
        <div class="container">
            <div class="row">					
                <div class="col-lg-4 col-md-6">
                    <a href="blog_detail_view.html" class="blog-item">
                        <div class="card">
                            <div class="blog-img">								
                                <img src="assets/images/blog/img-1.jpg" alt="">
                            </div>
                            <div class="card-content">
                                <span class="blog-badge-cate">Social Media</span>
                                <h3 class="blog-title">Blog Title Here</h3>
                                <p class="blog-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                            </div>
                            <div class="card-footer">
                                <div class="blog-footer-dt">	
                                    <div class="ttlcnt15 invtbyuser">
                                        <div class="invited_avtar_ee">
                                            <img class="ft-plus-square evnt-invite-circle bg-cyan me-0" src="assets/images/left-imgs/img-2.jpg" alt="">
                                        </div>
                                        <span class="evntcunt">Jassica William</span>
                                    </div>
                                    <span class="blog-date">10 May 2021</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="blog_detail_view.html" class="blog-item">
                        <div class="card">
                            <div class="blog-img">								
                                <img src="assets/images/blog/img-2.jpg" alt="">
                            </div>
                            <div class="card-content">
                                <span class="blog-badge-cate">Live Style</span>
                                <h3 class="blog-title">Blog Title Here</h3>
                                <p class="blog-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                            </div>
                            <div class="card-footer">
                                <div class="blog-footer-dt">	
                                    <div class="ttlcnt15 invtbyuser">
                                        <div class="invited_avtar_ee">
                                            <img class="ft-plus-square evnt-invite-circle bg-cyan me-0" src="assets/images/left-imgs/img-2.jpg" alt="">
                                        </div>
                                        <span class="evntcunt">Jassica William</span>
                                    </div>
                                    <span class="blog-date">10 May 2021</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="blog_detail_view.html" class="blog-item">
                        <div class="card">
                            <div class="blog-img">								
                                <img src="assets/images/blog/img-3.jpg" alt="">
                            </div>
                            <div class="card-content">
                                <span class="blog-badge-cate">Live Style</span>
                                <h3 class="blog-title">Blog Title Here</h3>
                                <p class="blog-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                            </div>
                            <div class="card-footer">
                                <div class="blog-footer-dt">	
                                    <div class="ttlcnt15 invtbyuser">
                                        <div class="invited_avtar_ee">
                                            <img class="ft-plus-square evnt-invite-circle bg-cyan me-0" src="assets/images/left-imgs/img-2.jpg" alt="">
                                        </div>
                                        <span class="evntcunt">Jassica William</span>
                                    </div>
                                    <span class="blog-date">10 May 2021</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="blog_detail_view.html" class="blog-item">
                        <div class="card">
                            <div class="blog-img">								
                                <img src="assets/images/blog/img-4.jpg" alt="">
                            </div>
                            <div class="card-content">
                                <span class="blog-badge-cate">Social Media</span>
                                <h3 class="blog-title">Blog Title Here</h3>
                                <p class="blog-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                            </div>
                            <div class="card-footer">
                                <div class="blog-footer-dt">	
                                    <div class="ttlcnt15 invtbyuser">
                                        <div class="invited_avtar_ee">
                                            <img class="ft-plus-square evnt-invite-circle bg-cyan me-0" src="assets/images/left-imgs/img-2.jpg" alt="">
                                        </div>
                                        <span class="evntcunt">Jassica William</span>
                                    </div>
                                    <span class="blog-date">10 May 2021</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="blog_detail_view.html" class="blog-item">
                        <div class="card">
                            <div class="blog-img">								
                                <img src="assets/images/blog/img-5.jpg" alt="">
                            </div>
                            <div class="card-content">
                                <span class="blog-badge-cate">Facts</span>
                                <h3 class="blog-title">Blog Title Here</h3>
                                <p class="blog-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                            </div>
                            <div class="card-footer">
                                <div class="blog-footer-dt">	
                                    <div class="ttlcnt15 invtbyuser">
                                        <div class="invited_avtar_ee">
                                            <img class="ft-plus-square evnt-invite-circle bg-cyan me-0" src="assets/images/left-imgs/img-2.jpg" alt="">
                                        </div>
                                        <span class="evntcunt">Jassica William</span>
                                    </div>
                                    <span class="blog-date">10 May 2021</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="blog_detail_view.html" class="blog-item">
                        <div class="card">
                            <div class="blog-img">								
                                <img src="assets/images/blog/img-6.jpg" alt="">
                            </div>
                            <div class="card-content">
                                <span class="blog-badge-cate">Other</span>
                                <h3 class="blog-title">Blog Title Here</h3>
                                <p class="blog-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                            </div>
                            <div class="card-footer">
                                <div class="blog-footer-dt">	
                                    <div class="ttlcnt15 invtbyuser">
                                        <div class="invited_avtar_ee">
                                            <img class="ft-plus-square evnt-invite-circle bg-cyan me-0" src="assets/images/left-imgs/img-2.jpg" alt="">
                                        </div>
                                        <span class="evntcunt">Jassica William</span>
                                    </div>
                                    <span class="blog-date">10 May 2021</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="blog_detail_view.html" class="blog-item">
                        <div class="card">
                            <div class="blog-img">								
                                <img src="assets/images/blog/img-7.jpg" alt="">
                            </div>
                            <div class="card-content">
                                <span class="blog-badge-cate">Economics and Trade</span>
                                <h3 class="blog-title">Blog Title Here</h3>
                                <p class="blog-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                            </div>
                            <div class="card-footer">
                                <div class="blog-footer-dt">	
                                    <div class="ttlcnt15 invtbyuser">
                                        <div class="invited_avtar_ee">
                                            <img class="ft-plus-square evnt-invite-circle bg-cyan me-0" src="assets/images/left-imgs/img-2.jpg" alt="">
                                        </div>
                                        <span class="evntcunt">Jassica William</span>
                                    </div>
                                    <span class="blog-date">10 May 2021</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="blog_detail_view.html" class="blog-item">
                        <div class="card">
                            <div class="blog-img">								
                                <img src="assets/images/blog/img-8.jpg" alt="">
                            </div>
                            <div class="card-content">
                                <span class="blog-badge-cate">Economics and Trade</span>
                                <h3 class="blog-title">Blog Title Here</h3>
                                <p class="blog-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                            </div>
                            <div class="card-footer">
                                <div class="blog-footer-dt">	
                                    <div class="ttlcnt15 invtbyuser">
                                        <div class="invited_avtar_ee">
                                            <img class="ft-plus-square evnt-invite-circle bg-cyan me-0" src="assets/images/left-imgs/img-2.jpg" alt="">
                                        </div>
                                        <span class="evntcunt">Jassica William</span>
                                    </div>
                                    <span class="blog-date">10 May 2021</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="blog_detail_view.html" class="blog-item">
                        <div class="card">
                            <div class="blog-img">								
                                <img src="assets/images/blog/img-9.jpg" alt="">
                            </div>
                            <div class="card-content">
                                <span class="blog-badge-cate">Education</span>
                                <h3 class="blog-title">Blog Title Here</h3>
                                <p class="blog-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
                            </div>
                            <div class="card-footer">
                                <div class="blog-footer-dt">	
                                    <div class="ttlcnt15 invtbyuser">
                                        <div class="invited_avtar_ee">
                                            <img class="ft-plus-square evnt-invite-circle bg-cyan me-0" src="assets/images/left-imgs/img-2.jpg" alt="">
                                        </div>
                                        <span class="evntcunt">Jassica William</span>
                                    </div>
                                    <span class="blog-date">10 May 2021</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="comment-pagination main-pagination mt-3">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center pagination-md">
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fa-solid fa-arrow-left"></i></a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fa-solid fa-arrow-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Body End -->