  <!-- About Video Model Start -->
  <div class="modal fade" id="aboutVideoModal" tabindex="-1" aria-labelledby="aboutVideoModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="aboutVideoModalLabel">
               <span class="model-title-icon"><i class="feather-youtube"></i></span>
               Samadhi		
            </h5>
            <button type="button" class="btn-model-close btn-color" data-bs-dismiss="modal" aria-label="Close">
               <i class="feather-x"></i>
            </button>
         </div>
         <div class="modal-body">
            <div class="about-video-block">
               <iframe class="video-iframe" src="https://www.youtube.com/embed/M6hTC0wrqBU?si=GurmsKXeco_0EmVT" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- About Video Model End -->

 <!-- Body Start -->
 <div class="wrapper pt-0">
    <div class="breadcrumb-pt breadcrumb-bg">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="breadcrumb-title" style="text-align: center;">
                   <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a routerLink="/">{{translations['home1']}}</a></li>
                      </ol>
                   </nav>
                   <h1 class="title_text">{{translations['home2']}}</h1>	 						
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="about-wrapper">
       <div class="container">
          <div class="row">
             <div class="col-lg-6 col-md-12">
                <div class="about-us-content">
                          <h2 class="item-title">{{translations['home3']}}</h2>
                          <p class="pitem-description">
                           {{translations['home4']}}                               
                          </p><br>
                          <p class="pitem-description">
                           {{translations['home5']}}      
                          </p>
                </div>
             </div>
             <div class="col-lg-6 col-md-12">
                <div class="about-img">
                   <img class="img-about" src="assets/images/about/img1.webp" alt="">
                   <div class="video-icon">
                      <button class="play-btn btn-hover" data-bs-toggle="modal" data-bs-target="#aboutVideoModal"><i class="fas fa-play"></i></button>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="about-wrapper bg-white">
       <div class="container">
          <div class="row">
             <div class="col-lg-12 col-md-12">
                <div class="about-us-content text-center process-title">
                          <h2 class="item-title">{{translations['home6']}}</h2>
                </div>
             </div>
             <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="progress-block">
                   <div class="progress-title">70+</div>
                   <div class="progress-subtitle">{{translations['home7']}}</div>
                </div>
             </div>
             <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="progress-block">
                   <div class="progress-title">9+</div>
                   <div class="progress-subtitle">{{translations['home8']}}</div>
                </div>
             </div>
             <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="progress-block">
                   <div class="progress-title">24/7</div> 
                   <div class="progress-subtitle">{{translations['home9']}}</div>
                </div>
             </div>
             <div class="col-lg-3 col-md-4 col-sm-4"> 
                <div class="progress-block">
                   <div class="progress-title">11+</div> 
                   <div class="progress-subtitle">{{translations['home10']}}</div>
                </div>
             </div>
              
          </div>
       </div>
    </div>
    <div class="about-wrapper">
       <div class="container">
          <div class="row">
             <div class="col-lg-12 col-md-12">
                <div class="about-us-content text-center process-title mb-50">
                          <h2 class="item-title">{{translations['home11']}}</h2>
                </div>
             </div>
             <div class="col-lg-6 col-md-12">
                <div class="about-us-content">
                  <p class="pitem-description">
                     {{translations['home12']}}
                 </p><br>
                 <p class="pitem-description">
                  {{translations['home13']}}
                </p>                    
                   <a routerLink="/contact" class="main-link-btn btn-hover">{{translations['home14']}}</a>
                </div>
             </div>
             <div class="col-lg-6 col-md-12">
                <div class="about-img">
                   <img class="img-about" src="assets/images/about/img2.webp" alt="">
                </div>
             </div>
             
          </div>
       </div>
    </div>
 </div>
 <!-- Body End -->